<h1>Api XmltoJson</h1>
<p>Este é um simples webservice para integrar ao XmltoJson.</p>

<ul class="endpoints" id="user_endpoint_list" style="">
	<li class="endpoint">
	    <ul class="operations">
	      <li class="get operation">
	            <div class="heading">
	                <h3>
	                  <span class="http_method">
	                    <a href="#" class="toggleOperation">POST</a>
	                  </span>
	                  <span class="path">
	                    <a href="#" class="toggleOperation">/api/v1/xmltojson?xml=xml</a>
	                  </span>
	                </h3>
	            </div>
	        </li>
	    </ul>
	<li>
</ul>
