<h1>HTML to CSS inline</h1>
<%= form_tag(convert_download_cssinline_path, multipart: true) do %>
  <%= text_field_tag 'url', "", class: "input-xxlarge",  title: "Enviar XML", placeholder: 'URL do HTML. Ex: http://google.com.br'%>
  <%= submit_tag "Converter", class: 'btn btn-primary' %>
<% end %>
<p>Transforme o seu HTML para o HTML com códigos CSS inline.</p>

