<h1>Convert to Json</h1>
<%= form_tag('index', multipart: true) do %>
  <%= file_field_tag 'converts', class: "input-small",  title: "Enviar XML" %>
  <%= submit_tag "upload", class: 'btn btn-primary' %>
<% end %>
<p>Coverta seus arquivos XML para Json. Basta fazer o upload do seu xml e faça o download totalmente
   convertido em Json.</p>

